.homepage {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0b5fff; /* blue */
    color: white;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.homepage h1 {
    font-size: 4rem;
    letter-spacing: 1px;
}